@keyframes aparecer {
    from {opacity:0} to {opacity:1}
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-size: 0.93rem;
    line-height: 1.25rem;
    color: #262626;
}

.alerta {
    color: #e81123;
}

.planodefundo, .planodefundo > div {
    background: #f2f2f2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: aparecer 1s;
}

.planodefundo > div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.celula {
    display: table-cell;
    vertical-align: middle;
}

.controle-form {
    width: 100%;
    background-image: none;
}

.linha {
    margin-top: 16px;
}

.menu {
    background-color: #000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    position: absolute;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #333;
}

.painel-login {
    min-width: 320px;
    min-height: 338px;
    border: 1px solid rgba(0,0,0,.4);
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.55);
    margin-bottom: 28px;
    padding: 44px;
    width: calc(-40px+100%);
    max-width: 440px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.feed-container {
    box-sizing: content-box;
    display: block;
    position: relative;
    margin-top: 48px;
}

.painel-lateral {
    float: left;
    width: 300px;
    margin-top: 15px;
}

.painel-central {
    background-color: transparent;
    box-sizing: border-box;
    float: left;
    margin-left: calc(25px);
    width: 580px;
}

.cartao {
    background: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0,0,0,0.2);
    margin: 0 5px 8px;
    padding: 0;
    transition: box-shadow 83ms;
}

.profile-item {
    
}

.header-dados {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 4px;
    height: 128px;
    margin: 0 12px;
}

.header-tab {
    margin: 0 12px;
    padding-bottom: 4px;
    height: 36px;
}

.header-tab ul {
    list-style-type: none;
}

.header-tab ul li {
    float: left;
}

.header-tab ul li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.botao-publicar {
    float: right;
    margin-right: 8px;
}

.feed-postagem {
    margin-top: 15px;
    margin-left: 45px;    
    height: 104px;
}

.feed-item {
    list-style-type: none;    
    padding: 8px;
}

.usuario-item {
    list-style-type: none;
    padding: 8px;
}

.header-item {
    padding-top: 16px;
}

.rodape {
    bottom: 24px;
    right:24px;
    position: absolute;
    text-align: right;
}

.texto-titulo {
    color: #404040;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 12px;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

.text-feed-titulo {
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 16px;
}

.text-feed-usuarionome {
    font-size: 1.0rem;
    font-weight: 600;
    color: rgba(0,0,0,.9);
}

.text-usuariolink {
    color: rgba(0,0,0,0.6);
}

.text-usuarionome{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

.editor-postagem {
    width: 512px;
    height: 64px;
    border: none;
    font-weight: 200;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

input[type="email"]:focus, input:focus {
    border-color: #0067b8;
}

input[type="email"], input {
    border-color: rgba(0,0,0,.6);
    border-width: 0!important;
    border-bottom-width: 1px!important;
    padding: 6px 10px;
    padding-left: 0px;
    border-radius: 0;
    height: 36px;
    outline: none;
}

input {
    font-size: 15px;
    margin: 0;
    max-width: 100%;
}

button, input[type='button'], input[type='submit'], input[type='reset'] {
    display: inline-block;
    cursor: pointer;
    min-width: 100px;
    padding: 4px 12px 4px 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    touch-action: manipulation;
    color: #000;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
}

fieldset {
    border-width: 0px;
}

header {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
}