<!DOCTYPE html>
<html lang="PT-BR" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes" />
        <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" title="CSS UI" href="/static/styles/mt.css" type="text/css">
        <link rel="s    tylesheet" href="/static/styles/placeholder-loading.min.css">
        <script type='text/javascript' src='/static/js/knockout-3.4.2.js'></script>
        <script type='text/javascript' src='/static/js/knockout.validation.min.js'></script>
        <title>Feed de Notícias</title>
    </head>
    <body style="background-color: #e6ecf0; overflow-y: scroll; position: relative;">
        <div class="fundoescuro">
            
        </div>
        <header>
            <div class="barra-esquerda">
                <ul class="menu">
                    <li><a href="/feed">Início</a></li>
                </ul>        
            </div>
            <div class="barra-central">
                <input class="edit-pesquisa" placeholder="Abrir usuário" data-bind="textInput: textoPesquisa" />
                <button class="botao-pesquisar" data-bind="click: pesquisar">Ir</button>
            </div>
            <div class="barra-direita">
                <ul class="menu">
                    <li><a href="/abandonar">Excluir perfil</a></li>
                    <li><a href="/sair">Sair</a></li>   
                </ul>
            </div>
        </header>
        <div class="feed-container">
            {% if agregado %}
            <aside class="painel-lateral">
                <div data-bind="visible: carregandoPerfil()">
                    <div class="cartao feed-item">
                        <div class="ph-item">
                            <div class="ph-col-2">
                                <div class="ph-avatar"></div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>
                <div class="cartao profile-item" data-bind="visible: !carregandoPerfil()">
                    <div class="text-usuarionome" data-bind="text: usuarioNome"></div>
                    <div>
                        <a class="text-usuariolink" data-bind="attr: {href: usuarioUrl}">@<span data-bind="text: apelido"></span></a>
                    </div>
                    <div data-bind="text: usuarioBio"></div>
                </div>
            </aside>
            {% else %}
            <section>
                <div class="cartao">
                    <div class="header-item">
                        <div class="header-dados">
                            <div class="text-feed-titulo" data-bind="text: textoTituloPerfil"></div>
                            <div class="text-feed-usuarionome" data-bind="text: usuarioNome"></div>
                            <div data-bind="text: usuarioApelido"></div>
                            <div data-bind="text: usuarioBio"></div>
                            <div data-bind="visible: exibirSeguindo()">
                                <a href="#" data-bind="text: textoSeguir, click: clicarSeguir">Seguir</a>
                            </div>                                    
                        </div>
                        <div class="header-tab">
                            <ul>
                                <li><a href="#" data-bind="color: painelExibicao() == 0 ? '#283e4a' : 'black', click: exibirPostagens">Postagens</a></li>
                                <li><a href="#" data-bind="color: painelExibicao() == 1 ? '#283e4a' : 'black', click: exibirSeguindos">Seguindo</a></li>
                                <li><a href="#" data-bind="color: painelExibicao() == 2 ? '#283e4a' : 'black', click: exibirSeguidores">Seguidores</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
            <div class="painel-central">
                <div data-bind="foreach: numPostsPlaceHolders, visible: carregandoDados()">
                    <div class="cartao feed-item">
                        <div class="ph-item">
                            <div class="ph-col-2">
                                <div class="ph-avatar"></div>
                            </div>
                            <div>
                                <div class="ph-row">
                                    <div class="ph-col-12"></div>
                                    <div class="ph-col-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cartao feed-postagem" data-bind="visible: getExibirFeed()">
                    <textarea placeholder="Escreva sua postagem aqui" maxlength="140" rows="3" class="editor-postagem" data-bind="textInput: textoPostagem"></textarea>
                    <button class="botao-publicar" data-bind="click: postar">Publicar</button>
                </div>
                <ul class="feed-stream" data-bind="foreach: listaPosts, visible: getExibirPosts()">
                    <li class="cartao feed-item">
                        <div class="text-feed-usuarionome">
                            <a class="text-feed-usuarionome" data-bind="text: nome, attr: {href: userurl}"></a>
                        </div>
                        <div>
                            <span data-bind="text: conteudo"></span>
                        </div>
                    </li>
                </ul>
                <ul class="usuarios-stream" data-bind="foreach: listaUsuarios, visible: getExibirUsuario()">
                    <li class="cartao usuario-item">
                        <div class="text-feed-usuarionome">
                            <a class="text-feed-usuarionome" data-bind="text: nome, attr: {href: userurl}"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script type='text/javascript'>
             var feeduid = '{{ feeduid }}';
             var feedagregado = '{{ agregado == '1' }}';
        </script>
        <script type='text/javascript' src='/static/js/base.js'></script>
        <script type='text/javascript' src='/static/js/feed.js'></script>
    </body>
</html>