<!DOCTYPE html>
<html lang="PT-BR" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes" />
        <link href="favicon.ico" rel="shortcut icon">
        <link title="CSS UI" href="static/styles/mt.css" rel="stylesheet" type="text/css">
        <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js'></script>
        <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js'></script>
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js'></script>
        <title>Feed de Notícias</title>
    </head>
    <body style="background-color: #e6ecf0; overflow-y: scroll; position: relative;">
        <div class="fundoescuro">
            
        </div>
        <header>
            <ul class="menu">
                <li><a href="#">Início</a></li>
                <li><a href="#">Excluir perfil</a></li>
                <li><a href="#">Sair</a></li>   
            </ul>
        </header>
        <div class="feed-container">
            {% if agregado %}
            <aside class="painel-lateral">
                <div class="cartao profile-item">
                    <div data-bind="text: usuarioNome"></div>
                    <div>@<span data-bind="text: apelido"></span></div>
                </div>
            </aside>
            {% else %}
            <section>
                <div class="cartao header-item">
                    <div>Profile do Usuário</div>
                </div>
            </section>
            {% endif %}
            <div class="painel-central">
                <ul class="feed-stream" data-bind="foreach: todosPosts">
                    <li class="cartao feed-item">
                        <span data-bind="text: conteudo"></span>
                    </li>
                </ul>
            </div>
        </div>
        <form name="form1" spellcheck="false">
            <div class="container">
            </div>
        </form>
        <script type='text/javascript' src='static/js/feed.js'></script>
    </body>
</html>
