<!DOCTYPE html>
<html lang="PT-BR" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes" />
        <link href="favicon.ico" rel="shortcut icon">
        <link title="CSS UI" href="static/styles/mt.css" rel="stylesheet" type="text/css">
        <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js'></script>
        <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js'></script>
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js'></script>
        <title>Login</title>
    </head>
    <body>
        <div class="planodefundo">
            <div style='background-image: url("static/img/fundo.jpg");'></div>
        </div>
        <form name="form1" spellcheck="false">
            <div class="container">
                <div class="celula">
                    <div class="painel-login">
                        <div class="caderno">
                            <fieldset data-bind="visible: formAtual() === 1">
                                <div class="texto-titulo">Login</div>
                                <div role="alert">
                                    <div class="alerta" data-bind='validationMessage: apelido'></div>
                                </div>
                                <input class="controle-form" aria-label="Insira seu apelido" maxlength="20" placeholder="Apelido" data-bind="value: apelido" />
                                <div class="linha">
                                    <a href="#" data-bind="click: cadastrar">Cadastrar na rede social</a>
                                </div>
                                <div class="rodape">
                                    <button data-bind="click: logar">Conectar</button>
                                </div>
                            </fieldset>
                            <fieldset data-bind="visible: formAtual() === 2">
                                <div class="texto-titulo">Cadastrar</div>
                                <div role="alert">
                                    <div class="alerta" data-bind='validationMessage: novoApelido'></div>
                                </div>
                                <input class="controle-form" aria-label="Crie um apelido" maxlength="20" placeholder="Apelido" data-bind="value: novoApelido, disable: novoApelido.isValidating()" />
                                <div class="rodape">
                                    <button data-bind="click: voltar">Voltar</button>
                                    <button data-bind="click: continuar">Continuar</button>                                    
                                </div>
                            </fieldset>
                            <fieldset data-bind="visible: formAtual() === 3">
                                <div class="texto-titulo">Dados Pessoais</div>
                                <div role="alert">
                                    <div class="alerta" data-bind='validationMessage: nome'></div>
                                </div>
                                <input class="controle-form" aria-label="Insira seu nome" maxlength="20" placeholder="Nome Completo" data-bind="value: nome" />
                                <input class="controle-form" aria-label="Insira uma pequena biografia" maxlength="20" placeholder="Biografia" data-bind="value: bio" />
                                <div class="rodape">
                                    <button data-bind="click: voltar">Voltar</button>
                                    <button data-bind="click: finalizar">Finalizar</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script type='text/javascript' src='static/js/login.js'></script>
    </body>
</html>
